@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');

@mixin display-flex() {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

body {
  padding: 0;
  margin: 0;
}

#wrapper {
  width: 95%;
  margin: auto;
  // height: 1000px;
  // background-color: aqua;
}

header {
  @include display-flex();
  align-items: end;
  width: 100%;
  height: 100px;
  // background-color: antiquewhite;
  border-bottom: 1px solid black
}

.header-content {
  @include display-flex();
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  padding-left: 5px;
  padding-right: 5px;
  // background-color: aquamarine;
}

.title {
  margin-bottom: 0;
  font-family: 'Signika Negative', sans-serif;
}

.button-container {
  @include display-flex;
  justify-content: space-between;
}

.header-button {
  margin-left: 10px;
}

.main-content {
  @include display-flex;
  width: auto;
  // margin: auto;
  // margin-top: 10px;
  // background-color: grey;
  margin: 20px 5px 0 5px;
}

.product {
  width: 14em;
  height: 10em;
  margin-bottom: 30px;
  // background-color: blanchedalmond;
  border: 1px solid black;
  border-radius: 3px;

}

.delete-checkbox-container {
  position: absolute;
  margin-left: 5px;

}

.product-data-container {
  @include display-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // background-color: pink;
}

.input {
  min-width: 190%;
  margin-bottom: 10px;

}

